@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: IosevkaEtoile;
    font-weight: 400;
    src: url(/fonts/IosevkaEtoile.woff2) format("woff2");
  }
}

@layer utilities {
  .blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2e3d48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

  @keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-moz-keyframes blink {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-webkit-keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-ms-keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-o-keyframes "blink" {
    from,
    to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  .swiper-custom .swiper-button-next {
    color: black;
  }

	.swiper-custom .swiper-button-prev {
		color: black;
	}

	.swiper-custom .swiper-pagination-bullet-active {
		color: black;
		background: black;
	}
}
